.textWhite{
    color:white;
}
.bold{
    font-weight:bold;
    font-size:20px;
}
.bgDark{
    background:black;
}
.box{
    position:fixed;
    left:250px;
    right:250px;
    bottom:100px;
    top:100px;
    background-image:linear-gradient(-243deg, #dc143c, #dc143c 40%, #fff 40%, #fff);
    height:60vh;
}
.cartDiv{
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    padding:0 20px;
}
.cartDiv span{
    margin:0 5px;
}
.cartIcon{
    text-align:right;
    padding: 0 auto;
}
body{
    background:white;
}
.py-2{
    padding:0 6px;
}
.mainProductCart{
    display:flex;
    flex-direction:row;
    gap:20px;
    margin:0 30px;
    justify-content:center;;
    padding:10px;

}
.mainProductCart div{
    margin:0;
    padding:0;
}
.productImg{ 
    height:450px;
    width:450px;
    position:absolute;
    top:50px;
    display:flex;
    left:120px;
    bottom:50px;  
}
.productName{
    padding: 15px 0;
    margin-top:15px;
}
.bagTitle{
    margin-top:20px;
    padding:10px 0;
}
.btnDark{
    margin-top:20px;
    background:black;
    color:white;
    padding:10px;
    font-weight:bolder;
    font-size:14px;
    width:140px;
}
input{
    border-top:none;
    border-left:none;
    border-right:none;
    width:80px;
    color:black;
    background:crimson;
    padding:8px;
    margin:2px 0;
}
.small{
    font-size:16px;
    margin:1rem 0;
    font-weight:light;
}

@media (max-width:600px){
    .box{
        top:0;
        left:0;
        rigth:0;
        background-image:linear-gradient(-243deg, #ef143c, #ef143c 40%, #fff 40%, #fff);
        width:500px;
        height:500px;

    }
    .productImg{ 
    height:300px;
    width:300px;
    position:absolute;
    top:120px;
    display:flex;
    left:20px;
    bottom:120px;  
}
.mainProductCart{
    display:grid;
    grid-template-columns:repeat(1, 1fr);
    justify-content:center;;
    padding-left:4rem;
    marfin-left:3rem;
    grid-template-areas:'';

}
.cartDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-align:center;
}
.cartIcon{
    display:none;
}
}


